* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: grey;
}

header{
  background-color: #fcfcfc;
  height: 100px;
  align-items: center;
  padding: 0 20px;
}



ul{
  list-style: none;
}

