
/* FLEX utils */

.d-flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.center{
  justify-content: center;
  align-items: center;
}
.wrap{
  flex-wrap: wrap;
}


/* /FLEX utils */




/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
}
/* /DEBUG */

